*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* navbar here */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 240px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
height: 130px;
}
.logo{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.color{
    color: #FF42A5;
}
.logo-img{
    width: 86.041px;
height: 40px;
}
.logo-head{
    color: #0B0223;
font-size: 45px;
font-weight: 700;

}
.nav-item{
    color: #3C354F;
font-size: 18px;
font-weight: 500;
text-decoration: none;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-btn{
    width: 262px;
height: 56px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
border: 0;
}
.nav-btn span{
    color: #3C354F;
font-size: 18px;
font-weight: 500;
}
/* navbar end */

/* Banner */

.banner{
    background-image: url("Group 14.png");
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;
    
    
}
.icon{
    width: 24px;
height: 24px;
}
.head{
    color: #0B0223;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
}
.main-head{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
padding-bottom: 24px;
}
.banner-text p{
    display: flex;
    align-self: center;
    gap: 25px;
    margin-bottom: 17px;
}

.sign{
    margin-top: 41px;
padding: 21px 40px;

border-radius: 48px;
background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
color: #FFF;
font-size: 20px;
font-weight: 600;
border: 0;
}
.go{
    border-radius: 48px;
background: #4EC5F7;
padding: 21px 40px;
font-size: 20px;
color: white;
font-weight: 600;
border: 0;
margin-left: 24px;
}
.banner-img{
    max-width: 100%;
    height: auto;
}
.banner-ss{
    max-width: 100%;
    height: auto;
}

/* banner ends */



/* Online funny Games  section */


.written{
    margin-top: 176px;
}
.sec-head{
font-size: 48px;
font-weight: 700;
text-align: center;
}
.linear-col{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.sec-des{
    color: #534C64;
text-align:center;
font-size: 18px;
font-weight: 400;
padding-bottom:30px ;
padding-top: 10px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.third{
    position: relative;
    display: inline-block;
}
.third:hover{
    filter: brightness(50%);
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    

}
.third:hover .play-icon {
   display: block;;
}
.white{
    color: white;
}


/* Online Games Ends */


/* Download section start */



.downloads{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 265px;
    margin-left: 240px;
    margin-right: 50px;
    margin-top: 120px;
}
.right-down{
    position: relative;
    max-width: 100%;
}
.man{
    max-width:100%;
    height: auto;
}
.doll{
    max-width: 50%;
    position: absolute;
    bottom: -85px;
    left: -105px;
}
.down-head{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
text-align: right;
font-size: 48px;
padding-bottom: 24px;
}
.down-des{
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
}
.play{
    color: #F948B2;
}

/* different kind of games */

.games{
    margin-top: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 10px;
  }
  .game-btn {
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 30px;
    flex-basis: 250px;
  }
  .game-btn:hover {
    border: 1px solid #ff42a5;
  }

  .button-text {
    transition: color 0.3s;
    color: #0b0223;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .game-btn:hover .button-text {
    color: #ff42a5;
  }
  .game-img {
    height: 30px;
    width: 30px;
  }

/* different kind of games */

/* footer */



.footer{
    margin-top: 120px;
    padding-top:120px;
    width: 100%;
    height: 636px;
    background: #0B0223;
}
.f-head{
    color: white;
}
.links,.a-links{
    padding-top: 66px;
    padding-bottom: 20px;
   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}
.links>a,.a-links>a{
    text-decoration: none;
    color: white;
    
}
.a-links>a{
    color:rgb(255, 255, 255, 0.60);
}
.f-img{
    width: 40px;
height: 40px;
}
.social{
    padding-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.f-last{
    padding-top: 66px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}









/* Mobile 425px Responsive */

@media screen and (max-width:425px) {
    .nav,.items{
        flex-direction: column;
        margin: auto;
        padding: 20px;
        box-shadow: none;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 10px;
        
    }
    .banner-ss{
        margin-top: 150px;
        max-width: 100%;
        
    }
    .funny-games{
        padding: 20px;
    }
    .images{
        flex-direction: column;
        text-align: center;
    }
    .downloads{
        flex-direction: column;
        padding: 20px;
        margin: 0 auto;
        gap: 25px;
    }
    .right-down{
        padding: 10px;
    }
    .man{
        padding: 20px;
        
    }
    .doll{
        max-width: 50%;
        position: absolute;
        bottom: -45px;
        left: -15px;
    }
    .container {
        margin: 0;
        padding: 5px;
      }
      .game-btn {
        flex-basis: 120px;
      }
      .button-text {
        font-size: 0.5rem;
      }
      .footer{
        
        margin: 0;
        padding: 10px;
        padding-top: 30px;
      }
    
    
}




/* Tablet min 576  max 900*/

@media screen and (min-width:576px) and (max-width:900px) {
    .nav{
        flex-direction: column;
        padding: 25px 0 0 0;
        width: 100%;
        padding-bottom: 20px;
    }
    .banner{
        flex-direction: column-reverse;
        padding:20px;
        
    }
    .banner-ss{
        padding-bottom: 50px;
        margin-top: 100px;
        max-width: 100%;
        
    }
    .images{
        flex-wrap: wrap;
        text-align: center;
    }
    .downloads{
        margin: 0 auto;
        padding: 15px;
        flex-direction: column;
        margin-top: 40px;
        text-align: center;
        gap: 45px;
    }
    .man{
        max-width: 80%;
        padding: 10px;
        
    }
    .doll{
        max-width: 40%;
        position: absolute;
        bottom: -45px;
        left: -35px;
    }
    .container {
        margin: 0;
        padding: 5px;
      }
      .game-btn {
        flex-basis: 220px;
      }
      .button-text {
        font-size: 0.8rem;
      }
      .game-img {
        height: 40px;
        width: 40px;
      }
      .footer{
        margin: auto;
        padding: 10px;
      }
    
    
}
